doctype html
html
  head
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css")
    title #{pageTitle} | #{siteName}
  body
    include ../partials/header
    main
      block content
    include ../partials/footer